<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-factura-heading" data-cy="FacturaCreateUpdateHeading" jhiTranslate="sirehoApp.factura.home.createOrEditLabel">
        Crear o editar Factura
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.factura.cantidadPaga" for="field_cantidadPaga">Cantidad Paga</label>
          <input
            type="number"
            class="form-control"
            name="cantidadPaga"
            id="field_cantidadPaga"
            data-cy="cantidadPaga"
            formControlName="cantidadPaga"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.factura.fechaPago" for="field_fechaPago">Fecha Pago</label>
          <div class="d-flex">
            <input
              id="field_fechaPago"
              data-cy="fechaPago"
              type="datetime-local"
              class="form-control"
              name="fechaPago"
              formControlName="fechaPago"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.factura.metodoPgo" for="field_metodoPgo">Metodo Pgo</label>
          <input type="text" class="form-control" name="metodoPgo" id="field_metodoPgo" data-cy="metodoPgo" formControlName="metodoPgo" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
