<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reservaciones-heading"
        data-cy="ReservacionesCreateUpdateHeading"
        jhiTranslate="sirehoApp.reservaciones.home.createOrEditLabel"
      >
        Crear o editar Reservaciones
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.reservaciones.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="datetime-local"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.reservaciones.fechaFinal" for="field_fechaFinal">Fecha Final</label>
          <div class="d-flex">
            <input
              id="field_fechaFinal"
              data-cy="fechaFinal"
              type="datetime-local"
              class="form-control"
              name="fechaFinal"
              formControlName="fechaFinal"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.reservaciones.habitacionesReservaciones" for="field_habitacionesReservaciones"
            >Habitaciones Reservaciones</label
          >
          <select
            class="form-control"
            id="field_habitacionesReservaciones"
            data-cy="habitacionesReservaciones"
            name="habitacionesReservaciones"
            formControlName="habitacionesReservaciones"
            [compareWith]="compareHabitaciones"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="habitacionesOption" *ngFor="let habitacionesOption of habitacionesReservacionesCollection">
              {{ habitacionesOption.id }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.reservaciones.clienteReservaciones" for="field_clienteReservaciones"
            >Cliente Reservaciones</label
          >
          <select
            class="form-control"
            id="field_clienteReservaciones"
            data-cy="clienteReservaciones"
            name="clienteReservaciones"
            formControlName="clienteReservaciones"
            [compareWith]="compareCliente"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="clienteOption" *ngFor="let clienteOption of clientesSharedCollection">{{ clienteOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.reservaciones.colaboradorResrvaciones" for="field_colaboradorResrvaciones"
            >Colaborador Resrvaciones</label
          >
          <select
            class="form-control"
            id="field_colaboradorResrvaciones"
            data-cy="colaboradorResrvaciones"
            name="colaboradorResrvaciones"
            formControlName="colaboradorResrvaciones"
            [compareWith]="compareColaborador"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="colaboradorOption" *ngFor="let colaboradorOption of colaboradorsSharedCollection">
              {{ colaboradorOption.id }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="sirehoApp.reservaciones.eventosReservaciones" for="field_eventosReservaciones"
            >Eventos Reservaciones</label
          >
          <select
            class="form-control"
            id="field_eventosReservaciones"
            data-cy="eventosReservaciones"
            name="eventosReservaciones"
            formControlName="eventosReservaciones"
            [compareWith]="compareEventos"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="eventosOption" *ngFor="let eventosOption of eventosSharedCollection">{{ eventosOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
