<div>
  <h2 id="page-heading" data-cy="EventosHeading">
    <span jhiTranslate="sirehoApp.eventos.home.title">Eventos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sirehoApp.eventos.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-eventos"
        [routerLink]="['/eventos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sirehoApp.eventos.home.createLabel"> Crear nuevo Eventos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventos?.length === 0">
    <span jhiTranslate="sirehoApp.eventos.home.notFound">Ningún Eventos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="eventos && eventos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreEvento">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.eventos.nombreEvento">Nombre Evento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaHora">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.eventos.fechaHora">Fecha Hora</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="responsable">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.eventos.responsable">Responsable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="capacidad">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.eventos.capacidad">Capacidad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="participantes">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.eventos.participantes">Participantes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventos of eventos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/eventos', eventos.id, 'view']">{{ eventos.id }}</a>
          </td>
          <td>{{ eventos.nombreEvento }}</td>
          <td>{{ eventos.fechaHora | formatMediumDatetime }}</td>
          <td>{{ eventos.responsable }}</td>
          <td>{{ eventos.capacidad }}</td>
          <td>{{ eventos.participantes }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/eventos', eventos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/eventos', eventos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(eventos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
