<div>
  <h2 id="page-heading" data-cy="HabitacionesHeading">
    <span jhiTranslate="sirehoApp.habitaciones.home.title">Habitaciones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sirehoApp.habitaciones.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-habitaciones"
        [routerLink]="['/habitaciones/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sirehoApp.habitaciones.home.createLabel"> Crear nuevo Habitaciones </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="habitaciones?.length === 0">
    <span jhiTranslate="sirehoApp.habitaciones.home.notFound">Ningún Habitaciones encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="habitaciones && habitaciones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipo">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.habitaciones.tipo">Tipo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="piso">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.habitaciones.piso">Piso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="disponible">
            <div class="d-flex">
              <span jhiTranslate="sirehoApp.habitaciones.disponible">Disponible</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habitaciones of habitaciones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/habitaciones', habitaciones.id, 'view']">{{ habitaciones.id }}</a>
          </td>
          <td>{{ habitaciones.tipo }}</td>
          <td>{{ habitaciones.piso }}</td>
          <td>{{ habitaciones.disponible }}</td>
          <td>
            <div *ngIf="habitaciones.facturaHabitaciones">
              <a [routerLink]="['/factura', habitaciones.facturaHabitaciones.id, 'view']">{{ habitaciones.facturaHabitaciones.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/habitaciones', habitaciones.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/habitaciones', habitaciones.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(habitaciones)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
